html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

// Color Variables
$black: #000000;

// Heading Mixins
@mixin heading-s {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: $black;
}

@mixin heading-m {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: $black;
}

@mixin heading-l {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: $black;
}

// Body Mixins
@mixin body-s {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: $black;
}

@mixin body-m {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: $black;
}

@mixin body-l {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: $black;
}
