@use "./globals.scss" as textMixins;

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  .main-page-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    .page-title {
      @include textMixins.heading-l();
    }
  }

  .listing-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    &.loading {
      align-items: center;
    }
  }

  .page-footer {
    padding: 20px;
    display: flex;
    justify-content: end;
  }

  .search-bar {
    outline: none;
    padding: 10px;
    padding: 8px;
    border-radius: 24px;
  }
}
